.IdeaList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem auto 3rem auto;
}

.IdeaList h1 {
  font-size: 4rem;
}

.IdeaList-table {
  margin-top: 3rem;
}
