.AboutPage {
  margin: 3rem auto auto auto;
  width: 80%;
}

.AboutPage .AboutPage-centered {
  text-align: center;
}

.AboutPage h1 {
  font-size: 4rem;
}

.AboutPage p {
  text-align: left;
  font-size: 1.2rem;
}

.AboutPage h2 {
  margin-top: 3rem;
}

@media screen and (min-width: 800px) {
  .AboutPage {
    width: 60%;
  }
  .AboutPage h1 {
    font-size: 6rem;
  }
}
