.AddIdeaForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem auto 3rem auto;
}

.AddIdeaForm h1 {
  font-size: 4rem;
}

.AddIdeaForm form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
}

.AddIdeaForm form button {
  font-size: 1rem;
}

.AddIdeaForm button.AddIdeaForm-cancel {
  margin-top: 2rem;
}

.AddIdeaForm button.AddIdeaForm-save {
  margin-top: 2rem;
}

@media screen and (min-width: 800px) {
  .AddIdeaForm form {
    width: 24rem;
  }
}
