.Idea {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  background-color: #d0e8ff;
  padding: 1.5rem;
  max-width: 40rem;
}

.Idea p.Idea-url {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .Idea {
  }
}
