.NavBar {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: black;
  align-items: center;
  width: 100%;
}

.NavBar-logo {
  font-size: 2rem;
  text-transform: uppercase;
}

.NavBar-desktop {
  display: none;
  gap: 2rem;
}

.NavBar button {
  color: white;
  background-color: black;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.NavBar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.MuiMenuItem-root a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.MuiButton-root {
  color: white;
}

.MuiMenu-list {
  background-color: black;
}

.NavBar .push {
  margin-left: auto;
}

.NavBar-mobile {
  display: block;
}

@media screen and (min-width: 800px) {
  .NavBar {
    width: auto;
  }
  .NavBar-desktop {
    display: flex;
  }

  .NavBar-mobile {
    display: none;
  }
}
