.NavBar {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: black;
  align-items: center;
}

.NavBar a:first-child {
  font-size: 2rem;
  text-transform: uppercase;
}

.NavBar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.NavBar .push {
  margin-left: auto;
}
